@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Roboto+Slab:wght@100..900&display=swap');

.head {
  font-family: 'Freckle Face', cursive;
}

.body {
  font-family: 'Roboto Slab', serif;
}
